.footer {
  margin: 0 70px;
  padding: 79px 0 20px;
}

@media screen and (max-width: 850px) {
  .footer {
    margin: 0 30px;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    margin: 0 10px;
  }
}
