.nav {
  width: 100%;
  margin: 0 0 0 50px;
  display: flex;
  color: white;
  flex-direction: row;
  justify-content: start-flex;
  align-items: center;
}

@media screen and (max-width: 850px) {
  .nav {
    margin: 0;
  }
}
