.portfolio__item {
  margin: 0 0 20px;
  padding: 0 0 19px;
  width: 100%;
  border-bottom: 1px solid #424242;
}

.portfolio__item:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
