.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 360px;
  background-color: #202020;
}

@media screen and (max-width: 850px) {
  .card {
    width: 339px;
  }
}

@media screen and (max-width: 600px) {
  .card {
    width: 300px;
  }
}
