.techs__subtitle {
  margin: 0;
  font-size: 50px;
  font-style: normal;
  line-height: 58px;
  font-weight: 400;
  color: #FFFFFF;
  letter-spacing: -0.8px;
}

@media screen and (max-width: 600px) {
  .techs__subtitle {
    font-size: 30px;
    line-height: normal;
  }
}
