.techs__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: 600px) {
  .techs__list {
    padding: 0 53px;
    flex-wrap: wrap;
  }
}
