.profile__form {
  margin: 120px 0 218px;
  width: 410px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 17px
}

@media screen and (max-width: 850px) {
  .profile__form {
    margin: 93px 0 208px;
  }
}

@media screen and (max-width: 600px) {
  .profile__form {
    margin: 78px 0 376px;
    width: 260px;
  }
}
