.nav-menu__account {
  margin: 0 0 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  background-color: #313131;
  border-radius: 32px;
  font-size: 14px;
  font-style: normal;
  line-height: 16px;
  font-weight: 500;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  border: none;
  transition: opacity .2s linear;
}

.nav-menu__account:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .nav-menu__account {
    margin: 0 0 46px;
  }
}
