.search-form__checkbox-inner {
  max-width: 36px;
  padding-left: 48px;
  display: inline-block;
  position: relative;
}

.search-form__checkbox-inner::before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: -10px;
  width: 36px;
  height: 20px;
  background-color: #343434;
  border-radius: 10px;
  border: none;
  transition: background-color .3s;
}

.search-form__checkbox-inner::after {
  display: block;
  content: "";
  position: absolute;
  left: 5px;
  top: -5px;
  width: 10px;
  height: 10px;
  background-color: #A0A0A0;
  border-radius: 50%;
  border: none;
  transition: background-color .3s, left .3s;
}
