.nav-menu__page {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #202020;
  height: 100%;
  width: 520px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .nav-menu__page {
    width: 100%;
  }
}
