.search-form {
  margin: 80px 70px 98px;
  padding: 0 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #424242;
}

@media screen and (max-width: 850px) {
  .search-form {
    margin: 80px 30px 110px;
  }
}

@media screen and (max-width: 600px) {
  .search-form {
    margin: 80px 14px 116px;
  }
}
